<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANS SHOP</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <header>
        <div id="wrap">
            <div id="header">
                <div id="nav">
                    <ul>
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                        <li>@Html.ActionLink("О нас", "About", "Home")</li>
                        <li><a href="#">Поддержка</a></li>
                        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
</body>

</html>
